.Detail_info {
    width: 55vw;
    height: calc(90vh - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 10vh;
    box-sizing: border-box;
    background-color: white;
}

.SpeciesTitle {
    width: 100%;
    height: 10vh;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.detailContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  .detail_L {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .detail_R {
    width: 40%;
  }
  
  .detail_image {
    width: 100%;
    height: 70%;
    background-color: bisque;
  }
  
  .detail_userInfo {
    width: 100%;
    height: 8%;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .profileImage {
    background-color: red;
    width: 50px;
    height: 100%;
    border-radius: 50px;
  }

  .profileInfo{
    font-size: 12px;
    padding-left: 20px;

  }

  .profileInfo_child {
    display: flex;
    align-items: center;
  }

  .detail_content {
    display: flex;
    align-items: start;
  }
  
  .관찰정보, .생태정보, .유사관찰 {
    width: 100%;
  }

  .Detail_R_title {
    font-size: 15px;
    font-weight: 600;
    color: blue;
    display: flex;
    margin-left: 30px;
    border-bottom: 1px solid blue;
  }

  .Detail_ovserve_child {
    display: flex;
    padding: 10px 30px;
  }