.headerNav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 50px;
  color: #aaa;
  height: 60px;
}

.navItem {
  color: #aaa;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 8px 12px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-size: 25px;
}

.navItem:hover {
  color: white;
  font-weight: 700;
  border-bottom: 2px solid white;
}

.rightArea {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  padding-right: 24px;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logoArea {
  display: flex;
  align-items: center;
  gap: 30px;
  color: white;
  padding-left: 24px;
}

.logoImg {
  width: 60px;
  height: 60px;
}

.logoText {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  font-size: 12px;
}
